<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="list">
    <ion-item *ngFor="let item of list" routerLink="/tabs/tab3/product/{{item.id}}" routerLinkActive="router-link-active" >
      <!-- <ion-avatar item-left>
        <img src="">
      </ion-avatar> -->
      <p>{{item.nama|titlecase}}</p>
      <!-- <p>{{item.harga}}</p> -->
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
